<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Copyright (C) 2011 Stefano Fornari.
 * All Rights Reserved.  No use, copying or distribution of this
 * work may be made except in accordance with a valid license
 * agreement from Stefano Fornari.  This notice must be
 * included on all copies, modifications and derivatives of this
 * work.
 *
 * Stefano Fornari MAKES NO REPRESENTATIONS OR WARRANTIES ABOUT THE SUITABILITY
 * OF THE SOFTWARE, EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO
 * THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
 * PURPOSE, OR NON-INFRINGEMENT. Funambol SHALL NOT BE LIABLE FOR ANY DAMAGES
 * SUFFERED BY LICENSEE AS A RESULT OF USING, MODIFYING OR DISTRIBUTING
 * THIS SOFTWARE OR ITS DERIVATIVES.
-->
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <description>Copy the relevant information in this file into your application's web.xml</description>
    <display-name>BeanShell Servlet</display-name>
    <context-param>
        <description>Prefix for controllers</description>
        <param-name>controllers-prefix</param-name>
        <param-value>/c</param-value>
    </context-param>
    <context-param>
        <description>Prefix for views</description>
        <param-name>views-prefix</param-name>
        <param-value>/v</param-value>
    </context-param>
    <servlet>
        <servlet-name>BeanShellServlet</servlet-name>
        <servlet-class>ste.web.beanshell.BeanShellServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BeanShellServlet</servlet-name>
        <url-pattern>*.bsh</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
